<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Search Name" showCancelButton searchIcon="search" animated cancel-button-icon
      debounce="1000" (ionChange)="ionChange($event)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let user of db.USERS">
      <ion-label>
        <h2><strong>{{ user.name }}</strong></h2>
        <p>{{ user.fname }}</p>
        <p>{{ user.class }}</p>
        <p>{{user.phone}}</p>
        <p>{{user.isChecked}}</p>
      </ion-label>
      <ion-checkbox slot="end" [(ngModel)]="user.isChecked"></ion-checkbox>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button *ngIf="db.isChecked()" (click)="onSendContacts()">
      <ion-icon name="checkmark"></ion-icon>
    </ion-fab-button>
  </ion-fab>

</ion-content>
