<ion-header>
  <ion-toolbar>
    <ion-title>mass operation records</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-select placeholder="Select Class from " (ionChange)="handleChangefromClass($event)">
        <ion-item *ngFor="let d of data">
          <ion-select-option value="{{d}}">{{d}}</ion-select-option>
        </ion-item>

      </ion-select>
    </ion-item>
  </ion-list>

  <ion-list>
    <ion-item>
      <ion-select placeholder="Select Class to " (ionChange)="handleChangetoClass($event)">
        <ion-item *ngFor="let d of data">
          <ion-select-option value="{{d}}">{{d}}</ion-select-option>
        </ion-item>

      </ion-select>
    </ion-item>
  </ion-list>
  <ion-item>
    <ion-button color="success" expand="block" (click)="changeClass()">
      Change Class
    </ion-button>
  </ion-item>

  <ion-list>
    <ion-item>
      <ion-select placeholder="Select Class from " (ionChange)="handleChangefor($event)">
        <ion-item *ngFor="let d of data">
          <ion-select-option value="{{d}}">{{d}}</ion-select-option>
        </ion-item>

      </ion-select>
    </ion-item>
  </ion-list>


  <ion-item>
    <ion-button color="success" expand="block" (click)="deleteClass()">
      Delete Class
    </ion-button>
  </ion-item>
</ion-content>
