<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <ion-button expand="block" class="btn btn-success" [routerLink]="['/student-create']">Add Students</ion-button><br>
    <ion-button expand="block" [routerLink]="['/student-search']">Search Students</ion-button><br>
    <ion-button expand="block" [routerLink]="['/message-students']">SMS </ion-button><br>
    <ion-button expand="block" [routerLink]="['/message-all-students']">Selective Message </ion-button><br>
    <ion-button expand="block" [routerLink]="['/classwise-message']">Class Wise Message</ion-button><br>
    <ion-button expand="block" [routerLink]="['/call-students']">Call</ion-button><br>
    <ion-button expand="block" [routerLink]="['/logs']">Logs</ion-button><br>
    <ion-button expand="block" (click)="loadData()">Load Data</ion-button><br>
    <ion-button expand="block" [routerLink]="['/mass-operation-records']">Promote / Delete Students</ion-button>
  </div>
</ion-content>
