<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>message students</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-input [(ngModel)]="reciever" placeholder="enter number"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-item>
          <ion-textarea [(ngModel)]="message" placeholder="enter message"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-button expand="block" (click)="sendSMS()">Send</ion-button>

  </ion-grid>
</ion-content>
